body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.success-message, .error-message {
    padding: 15px 25px;
    border-radius: 5px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-message {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #3c763d;
}

.error-message {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
}
